.cvcontent {
  position: absolute;
  top: 32%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  margin-bottom: 96px;
}

@media (max-width: 899px) {
  .cvcontent {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}
