html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.navigation-html .darkbackground {
  background-color: transparent;
}

.navigation-html h2 {
  color: #0f0f0f;
}

.navigation-html svg {
  fill: #0f0f0f;
}




.navigation li:nth-child(2) h2 {
  color: #ed1843;
}

.hamburger-drawer li:nth-child(2) h4 {
  color: #ed1843;
}


.cvcontent {
  position: absolute;
  top: 32%;
  width: 640px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding-bottom: 160px;
}

@media (max-width: 767px) {
  .cvcontent {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}


ul {
  padding-left: 16px;
}


ul li {
  margin: 8px 0 8px 0;
}



.image_L {
  background-color: #0f0f0f;
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 12px;
}

.image_S {
  background-color: #0f0f0f;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 16px;
}

.image_S img {
  max-height: 100%;
  max-width: auto;
}

.image_L img {
  max-height: 100%;
  max-width: auto;
}

.image-title {
  display: flex;
  align-items: center;
  margin: 16px 0 16px 0;
}


.lists-flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
}

.list-2columns {
  width: 312px;
  margin-bottom: 32px;
}

.list-3columns {
  width: calc(33.3% - 11px);
  min-width: 155px;
  margin-bottom: 32px;
}





