/** Home page items*/
.mainlogo {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 112px;
}

@media (max-width: 899px) {
  .mainlogo {
    width: 80px;
  }
}

.intro h1 {
  line-height: 40px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 32px;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .intro h1 {
    line-height: 36px;
    padding: 0 24px 24px 24px;
  }
}
