/** Home page items*/
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 128px;
  height: auto;
}

.stroke {
  animation: dash 2s ease-out forwards;
  fill: none;
  pulse: 1s 1s ease-out forwards;
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-width: 16;
}


.intro {
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: auto;
  width: calc(50% - 64px);
  transform: translate(64px, calc(86px + 4px));
  line-height: 48px;
  clip-path: inset(0 0 100% 0);
  animation: reveal 0.5s linear 1.5s forwards;
  box-sizing: border-box;
  padding: 0 24px 0 48px;
}

  
@keyframes dash {
  to {
    stroke-dashoffset: 2000;
  }
}

@keyframes reveal {
  0% { clip-path: inset(0 0 100% 0); }
  100% { clip-path: inset(0); }
}


@media (max-width: 1024px) {
  .intro {
    transform: translate(0,0);
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
  }
  
  @media (max-width: 600px) {
  .logo {
    width: 96px;
  }
    .intro {
      padding: 24px; 
    }
  .intro h1 {
    line-height: 24px;
    font-size: 16px;
  }
}



