/** Breakpoints */
/** Text styles */
p {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  color: white;
  line-height: 28px;
  margin: 0;
}

h1 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: white;
  line-height: 28px;
  margin: 0;
  letter-spacing: 1.5px;
}

h2 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 18px;
  color: white;
  margin: 0;
  line-height: 28px;
}

h3 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
  line-height: 1.5;
  margin: 0 0 4px 0;
}

h4 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 20px;
  color: black;
  margin: 0;
  line-height: 30px;
}

h5 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 80px;
  color: black;
  margin: 0;
  line-height: 1;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: normal;
}

h6 {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 40px;
  color: black;
  margin: 0;
  line-height: 1.25;
}

@media (max-width: 899px) {
  h5 {
    font-size: 64px;
  }
  h6 {
    font-size: 32px;
  }
}

.text_black {
  color: black;
}

.text_white {
  color: white;
}

.text_red {
  color: #ed1843;
}

.text_12px {
  font-size: 12px;
}

.text_14px {
  font-size: 14px;
}

.text_16px {
  font-size: 16px;
}

.text_18px {
  font-size: 18px;
}

.text_24px {
  font-size: 24px;
}

.text_40px {
  font-size: 40px;
}

.text_48px {
  font-pze: 48px;
  line-height: 1.5;
}

.text_56px {
  font-size: 56px;
  line-height: 1.5;
}

.text_bold {
  font-weight: 700;
}

.text_regular {
  font-weight: 400;
}

.text_light {
  font-weight: 300;
}

.line-height_36px {
  line-height: 36px;
}

.line-height_32px {
  line-height: 32px;
}

.spacing_16px {
  margin-top: 16px;
}

.translateY_144px {
  transform: translateY(144px);
}

.info-section {
  position: relative;
  margin-top: 48px;
}

.vertical-spacing_16px {
  height: 16px;
}

.vertical-spacing_24px {
  height: 24px;
}

.vertical-spacing_32px {
  height: 32px;
}

.vertical-spacing_48px {
  height: 48px;
}

.vertical-spacing_48px {
  height: 48px;
}

.vertical-spacing_64px {
  height: 64px;
}

.vertical-spacing_80px {
  height: 80px;
}



/** Colors */
.white {
  fill: white;
}

.red {
  fill: #ed1843;
}

.black {
  fill: black;
}

.darkbackground {
  background-color: #0f0f0f;
}

.lightbackground {
  background-color: #ffffff;
}

/** Shadows*/
.shadow_light {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
}

/** Components*/
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 56px;
  z-index: 10;
}

.home_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}

.homelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
}

.navigation {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  z-index: 20;
}

@media (max-width: 479px) {
  .navigation {
    display: none;
  }
}

.navigation ul {
  list-text-style: none;
  padding: 0;
  margin: 0;
  width: max-content;
}

.navigation li {
  margin: 0 8px 0 8px;
  display: inline-block;
  
}

.navigation h2 {
  line-height: 18px;
  padding: 0 16px 0 16px;
}

.navigation h2:hover {
  color: grey;
}


.navigation a {
  text-decoration: none;
  text-transform: none;
}

.linkedin_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
}

.linkedin_touch-target:hover > svg {
  fill: grey;
}

.linkedin {
  position: absolute;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 479px) {
  .linkedin_touch-target {
    visibility: hidden;
  }
}


.hamburger_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  visibility: hidden;
}

.hamburger_touch-target:hover + .hamburger_icon svg {
    color: grey;
}

.hamburger_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
}





@media (max-width: 479px) {
  .hamburger_touch-target {
    visibility: visible;
  }
}

#navigation_hamburger {
  position: fixed;
  width: 48%;
  height: 100%;
  display: none;
  top: 0;
  right: 0;
  z-index: 10;
}

.close_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 4px;
  right: 4px;
}

#navigation_hamburger svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close_touch-target svg {
  width: 18px;
}


#navigation_hamburger ul {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
}

#navigation_hamburger li {
  display: block;
  margin: 24px 0 24px 0;
  text-align: right;
}

#navigation_hamburger p:hover {
  color: #ed1843;
  font-weight: 700;
}

#navigation_hamburger a {
  text-decoration: none;
  text-transform: none;
}

.linkedin_touch-target_hamburger {
  position: absolute;
  width: 48px;
  height: 48px;
  bottom: 12px;
  right: 12px;
}

.linkedin_touch-target_hamburger svg {
 height: 20px;
}

.projecttiles_container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.projecttiles_work {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 160px;
  width: 990px;
}

 
@media (min-width: 768px) and (max-width: 1023px) {
  .projecttiles_work {
    width: 660px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .projecttiles_work {
    width: 330px;
  }
}


@media (max-width: 479px) {
  .projecttiles_work {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}


.projecttile {
  position: relative;
  height: auto;
  width: 298px;
  margin: 0px 16px 48px 16px;
}

@media (max-width: 479px) {
  .projecttile {
    width: 100%;
    height: auto;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
}


.image-container img {
  max-width: 100%;
  max-height: auto;
  z-index: 1;
}

.projecttiles_work a {
  text-decoration: none;
}

.projecttileoverlay {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  top: 0;
}

.projecttileoverlay h1 {
  padding: 0 16px 0 16px;
  font-weight: 300;
}

.projecttiletitle {
  position: relative;
  padding-top: 8px;
} 


.projecttiletitle p {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;
  padding-top: 2px;
  line-height: 1.5;
}


a:not(.no-hover):hover .projecttileoverlay {
  opacity: 1;
}
