.navigation li:nth-child(1) h2, .hamburger-drawer li:nth-child(1) h2 {
  color: #ed1843;;
}



.project-picker-container {
  position: absolute;
  top: 16%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

