/** Breakpoints */
/** Special Breakpoints */
.projecttiles_work {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 1050px;
  flex-wrap: wrap;
  top: 24%;
  margin-bottom: 160px;
}

@media (min-width: 716px) and (max-width: 1066px) {
  .projecttiles_work {
    width: 700px;
  }
}

@media (min-width: 366px) and (max-width: 715px) {
  .projecttiles_work {
    width: 350px;
  }
}

@media (max-width: 365px) {
  .projecttiles_work {
    width: calc(100% - 16px);
  }
}

.projecttile {
  position: relative;
  height: 318px;
  width: 318px;
  margin: 16px;
}

@media (max-width: 365px) {
  .projecttile {
    width: 100%;
    height: auto;
  }
}

.projecttile img {
  max-width: 100%;
  max-height: auto;
}

.projecttileoverlay {
  position: absolute;
  width: 100%;
  height: 64px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.projecttileinfo {
  padding: 0 16px 0 16px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.projecttiletitle p,
h2 {
  line-height: 1;
  text-align: left;
}

.projecttiletitle p {
  font-weight: 300;
  margin-top: 8px;
  font-size: 14px;
}

.projecttileinfo > p {
  display: none;
}

a:not(.no-hover):hover .projecttileinfo {
  position: absolute;
  bottom: 0;
  padding: 0 16px 16px 16px;
  display: block;
  height: auto;
}

a:not(.no-hover):hover .projecttiletitle h2 {
  font-size: 24px;
}

a:not(.no-hover):hover .projecttiletitle p {
  font-size: 16px;
  margin-top: 16px;
}

a:not(.no-hover):hover .projecttileinfo > p {
  display: block;
  margin-top: 24px;
  line-height: 24px;
}

a:not(.no-hover):hover .projecttileoverlay {
  height: 100%;
  width: 100%;
}
