navigation li:nth-child(1) text_white {
  visibility: hidden;
}
  

.project-picker-container {
  position: absolute;
  top: 16%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}


