
<html lang="en">
  
<body>

<div class="project-picker">
          <a href="../../html/projects/switch-and-save.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../../img/projects/switch and save/[S&S]picker-item.png"/> 
                <div class="project-tile-overlay">
                  <div class="project-tile-text">
                    <div class="project-tile-title">
                      <h7 class="text_white">Switch & Save</h7>
                      <div class="body1 text_white">05-09.2021</div>
                    </div>
                    <div class="body2 text_white">New feature to help users save money on their credit cards.</div>
                  </div>
                </div>
              </div>
            </div>
          </a> 
          <a href="../../html/projects/first-time-experience.html">
            <div class="project-tile">
                <div class="image-container">
                  <img src="../../img/projects/first time experience/[FTE]picker-item.png"/>
                  <div class="project-tile-overlay">
                    <div class="project-tile-text">
                      <div class="project-tile-title">
                        <h7 class="text_white">First Time Experience</h7>
                        <div class="body1 text_white">08-10.2020</div>
                      </div>
                      <div class="body2 text_white">New first time experience to help users discover full product value.</div>
                    </div>
                  </div>
                </div>  
            </div>
          </a>
          <a href="../../html/projects/filtering-and-sorting.html">
            <div class="project-tile">
                <div class="image-container">
                  <img src="../../img/projects/filtering and sorting/[F&S]picker-item.png"/>
                  <div class="project-tile-overlay">
                    <div class="project-tile-text">
                      <div class="project-tile-title">
                        <h7 class="text_white">Filtering & Sorting</h7>
                        <div class="body1 text_white">08-12.2019</div>
                      </div>
                      <div class="body2 text_white">New functionality to allow filtering and sorting of a product list page.</div>
                    </div>
                  </div>
                </div> 
            </div>
          </a>
          <a href="../../html/projects/savvy-work.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../../img/projects/savvy work/[SW]picker-item.png"/>
                <div class="project-tile-overlay">
                  <div class="project-tile-text">
                    <div class="project-tile-title">
                      <h7 class="text_white">Savvy Work</h7>
                      <div class="body1 text_white">01-03.2018</div>
                    </div>
                    <div class="body2 text_white">A proof of concept app for companies to improve their social culture.</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="../../html/projects/savvy-property.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../../img/projects/savvy property/[SP]picker-item.png"/>
                <div class="project-tile-overlay">
                  <div class="project-tile-text">
                    <div class="project-tile-title">
                      <h7 class="text_white">Savvy Property</h7>
                      <div class="body1 text_white">10-12.2017</div>
                    </div>
                    <div class="body2 text_white">A proof of concept app for property managers to manage property occupancy.</div>
                  </div>
                </div> 
              </div>
            </div>
          </a>
          <a href="../../html/projects/safe.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../../img/projects/safe/[Safe]picker-item.png"/>
                <div class="project-tile-overlay">
                  <div class="project-tile-text">
                    <div class="project-tile-title">
                      <h7 class="text_white">Safe</h7>
                      <div class="body1 text_white">04-06.2018</div>
                    </div>
                    <div class="body2 text_white">A proof of concept app for people to manage their personal insurance.</div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="../../html/projects/branding-and-print.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../../img/projects/branding and print/[B&P]picker-item.png"/>
                <div class="project-tile-overlay">
                  <div class="project-tile-text">
                    <div class="project-tile-title">
                      <h7 class="text_white">Branding & Print</h7>
                      <div class="body1 text_white">From over the years</div>
                    </div>
                    <div class="body2 text_white">Branding and print work for companies, events and myself.</div>
                  </div>
                </div>
              </div>      
            </div>
          </a>
        </body>

        </html>
