
<html lang="en">
  
<body>

<div class="project-picker">
          <a href="../html/projects/switch-and-save.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../img/projects/switch and save/[S&S]picker-item.png"/> 
                <div class="project-tile-overlay-L">
                  <div class="project-tile-text-L">
                    <div class="project-tile-title">
                      <h3 class="text_white">Switch and Save</h3>
                      <div class="body1 text_white text_light">05-09.2021</div>
                    </div>
                    <div class="body2 text_white text_light">New feature to help users save money on their credit cards.</div>
                  </div>
                </div>
                <div class="project-tile-overlay-S">
                  <div class="project-tile-text-S">
                    <h2 class="text_22px">Switch and Save</h2>
                    <p>05-09.2021</p>
                  </div>
                </div> 
              </div>
            </div>
          </a> 
          <a href="../html/projects/first-time-experience.html">
            <div class="project-tile">
                <div class="image-container">
                  <img src="../img/projects/first time experience/[FTE]picker-item.png"/>
                  <div class="project-tile-overlay-L">
                    <div class="project-tile-text-L">
                      <div class="project-tile-title">
                        <div class="text_22px text_white">First Time Experience</div>
                        <p>08-10.2020</p>
                      </div>
                      <p>New first time experience to help users discover full product value.</p>
                    </div>
                  </div>
                  <div class="project-tile-overlay-S">
                    <div class="project-tile-text-S">
                      <h2 class="text_22px">First Time Experience</h2>
                      <p>08-10.2020</p>
                    </div>
                  </div> 
                </div>  
            </div>
          </a>
          <a href="../html/projects/filtering-and-sorting.html">
            <div class="project-tile">
                <div class="image-container">
                  <img src="../img/projects/filtering & sorting/[F&S]picker-item.png"/>
                  <div class="project-tile-overlay-L">
                    <div class="project-tile-text-L">
                      <div class="project-tile-title">
                        <h2 class="text_22px">Filtering and Sorting</h2>
                        <p>08-12.2019</p>
                      </div>
                      <p>New functionality to allow filtering and sorting of a product list page.</p>
                    </div>
                  </div>
                  <div class="project-tile-overlay-S">
                    <div class="project-tile-text-S">
                      <h2 class="text_22px">Filtering and Sorting</h2>
                      <p>08-12.2019</p>
                    </div>
                  </div>
                </div> 
            </div>
          </a>
          <a href="../html/projects/savvy-work.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../img/projects/savvy work/[SW]picker-item.png"/>
                <div class="project-tile-overlay-L">
                  <div class="project-tile-text-L">
                    <div class="project-tile-title">
                      <h2 class="text_22px">Savvy Work</h2>
                      <p>01-03.2018</p>
                    </div>
                    <p>A proof of concept app for companies to improve their social culture.</p>
                  </div>
                </div>
                <div class="project-tile-overlay-S">
                  <div class="project-tile-text-S">
                    <h2 class="text_22px">Savvy Work</h2>
                    <p>01-03.2018</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="../html/projects/savvy-property.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../img/projects/savvy property/[SP]picker-item.png"/>
                <div class="project-tile-overlay-L">
                  <div class="project-tile-text-L">
                    <div class="project-tile-title">
                      <h2 class="text_22px">Savvy Property</h2>
                      <p>10-12.2017</p>
                    </div>
                    <p>A proof of concept app for property managers to manage property occupancy.</p>
                  </div>
                </div> 
                <div class="project-tile-overlay-S">
                  <div class="project-tile-text-S">
                    <h2 class="text_22px">Savvy Property</h2>
                    <p>10-12.2017</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="../html/projects/safe.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../img/projects/safe/[Safe]picker-item.png"/>
                <div class="project-tile-overlay-L">
                  <div class="project-tile-text-L">
                    <div class="project-tile-title">
                      <h2 class="text_22px">Safe</h2>
                      <p>04-06.2018</p>
                    </div>
                    <p>A proof of concept app for people to manage their personal insurance.</p>
                  </div>
                </div>
                <div class="project-tile-overlay-S">
                  <div class="project-tile-text-S">
                    <h2 class="text_22px">Safe</h2>
                    <p>04-06.2018</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="../html/projects/branding-and-print.html">
            <div class="project-tile">
              <div class="image-container">
                <img src="../img/projects/branding & print/[B&P]picker-item.png"/>
                <div class="project-tile-overlay-L">
                  <div class="project-tile-text-L">
                    <div class="project-tile-title">
                      <h2 class="text_22px">Branding and Print</h2>
                      <p>From over the years</p>
                    </div>
                    <p>Branding and print work for companies, events and myself.</p>
                  </div>
                </div>
                <div class="project-tile-overlay-S">
                  <div class="project-tile-text-S">
                    <h2 class="text_22px">Branding and Print</h2>
                    <p>From over the years</p>
                  </div>
                </div>
              </div>      
            </div>
          </a>
        </body>

        </html>
