
/** Large button */

.button_large {
  display: flex;
  align-items: center;
  height: 52px;
  width: fit-content;
  border-radius: 26px;
  justify-content: center
}

.button_large a {
  text-decoration: none;
}

.button_large .body2 {
  font-weight: 700;
  text-align: center;
  padding: 0 32px 2px 32px;
}
  

.primary-button_black {
  background-color: #0f0f0f;
}

.primary-button_black .body2 {
  color: #ffffff;
}

.primary-button_black:hover {
  background-color: #808080;
}

.secondary-button_black {
   -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:inset 0px 0px 0px 3px #0f0f0f;
}

.secondary-button_black .body2 {
  color: #0f0f0f;
}

.secondary-button_black:hover {
  box-shadow:inset 0px 0px 0px 3px #808080;
}

.secondary-button_black:hover .body2 {
  color: #808080;
}


/** Small button */




