
/** Large button */

.button_large {
  display: flex;
  align-items: center;
  height: 56px;
  width: fit-content;
  border-radius: 28px;
  justify-content: center
}

.button_large a {
  text-decoration: none;
}

.button_large .body2 {
  font-weight: 700;
  text-align: center;
  padding: 0 40px 2px 40px;
}

  

.primary-button {
  background-color: #01A281;
}

.primary-button .body2 {
  color: #FFFFFF;
}

.primary-button:hover {
  background-color: #01CBA2;
}

.secondary-button {
   -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:inset 0px 0px 0px 3px #01A281;
}

.secondary-button .body2, .secondary-button .body1 {
  color: #01A281;
}

.secondary-button:hover {
  box-shadow:inset 0px 0px 0px 3px #01CBA2;
}

.secondary-button:hover .body2, .secondary-button:hover .body1  {
  color: #01CBA2;
}

/** Medium button */

.button_medium {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  width: fit-content;
}

.button_medium .body1 {
  font-weight: 700;
  text-align: center;
  padding: 0 32px 2px 32px;
}



