.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 72px;
  z-index: 10;
  width: 100%;
}

@media (min-width: 1920px) {
  .navbar {
    transform: scale(1.1);
    transform-origin: top left;
    width: 90.9%;
   }
  }


#navbar_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: -48px;
  height: 48px;
  z-index: 10;
  width: 100%;
  transition: top 0.3s;
}

#navbar_fixed .navbar {
  height: 48px;
}

#navbar_fixed .navigation {
  bottom: 50%;
  transform: translateY(50%);
}

#navbar_fixed .homelogo {
  height: 36px;
}

.home_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
}


.homelogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
}
  

.navigation {
  position: absolute;
  left: 50%;
  bottom: 16px;
  transform: translateX(-50%);
  z-index: 20;
}



@media (max-width: 575px) {
  .navigation {
    display: none;
  }
}



.navigation ul {
  list-text-style: none;
  padding: 0;
  margin: 0;
  width: max-content;
}

.navigation li {
  display: inline-block;
}

.navigation h3 {
  padding: 0 24px 0 24px;
}


.navigation .body1 {
  font-weight: 700;
  font-size: 12px;
  transform: translateY(-2px);
}

.navigation a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}

.linkedin_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.linkedin {
  position: absolute;
  height: 22px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 479px) {
  .linkedin_touch-target {
    visibility: hidden;
  }
}


.hamburger_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  visibility: hidden;
}

.hamburger_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
}


@media (max-width: 479px) {
  .hamburger_touch-target {
    visibility: visible;
  }
}

#hamburger-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}

.hamburger-drawer {
  position: absolute;
  width: 64%;
  height: 100%;
  top: 0;
  right: 0;
  box-shadow: -8px 0px 10px rgb(0 0 0 / 0.2);
}

.behind-hamburger {
  position: absolute;
  width: 36%;
  height: 100%;
  top: 0;
  left: 0;
}

.close_touch-target {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 8px;
  right: 8px;
}

.hamburger-drawer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close_touch-target svg {
  width: 20px;
}

.hamburger-drawer ul {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  margin: 0;
}

.hamburger-drawer li {
  display: block;
  margin-top: 56px;
  text-align: right;
}


a {
  text-decoration: none;
}

.linkedin_touch-target_hamburger {
  bottom: 24px;
  right: 24px;
  position: absolute;
  width: 48px;
  height: 48px;
  transform: translate(12px, 8px);
}

