html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.navigation li:nth-child(5) h3 {
  color: #ed1843;;
}

.hamburger-drawer li:nth-child(3) h3 {
  color: #ed1843;
}


.navigation h3 {
  color: #ffffff;
}

.navigation .body1 {
color: #ffffff;
}

.contactcontent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 32%;
  box-sizing: border-box;
  padding-bottom: 256px;
}

@media (max-width: 575px) {
  .contactcontent {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}

.contactcontent h9 {
  white-space: no-wrap;
}

.linkedin-link {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.linkedin-link svg {
  width: 16px;
}
  
  
