html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.home_touch-target svg {
  fill: #FFFFFF;
}

.home_touch-target:hover svg {
  fill: #01F4C2;
}

.navigation li:nth-child(5) h3 {
  color: #01F4C2;
  font-weight: 700;
}

.hamburger-drawer li:nth-child(3) h3 {
  color: #01CBA2;
}

.navigation h3 {
  color: #FFFFFF;
}

.navigation h3:hover {
  color: #01F4C2;
}

.navigation .body1 {
  color: #FFFFFF;
}

.linkedin_touch-target svg {
  fill: #FFFFFF;
}

.linkedin_touch-target:hover svg {
  fill: #01F4C2;
}

.contactcontent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 32%;
  box-sizing: border-box;
  padding-bottom: 256px;
  width: fit-content;
}

@media (max-width: 575px) {
  .contactcontent {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}

.contactcontent h9 {
  white-space: nowrap;
}

.contact-link {
  display: inline-flex;
  column-gap: 8px;
  align-items: center;
  width: min-content;
}

.external-link-icon {
  width: 16px;
}

.send-icon {
  width: 22px;
}

.contact-link svg {
  fill: #01A281;
}

.contact-link:hover svg {
  fill: #01F4C2;
}








  
  
