html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.navigation li:nth-child(3) h3 {
  color: #ed1843;
}

.hamburger-drawer li:nth-child(3) h3 {
  color: #ed1843;
}

.navigation h3 {
  color: #0f0f0f;
}

.navigation .body1 {
color: #0f0f0f;
}

.navbar svg {
  fill: #0f0f0f;
}


.cvcontent {
  position: absolute;
  top: 32%;
  width: 614px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding-bottom: 256px;
}


@media (max-width: 767px) {
  .cvcontent {
    padding: 0 24px 0 24px;
    width: 100%;
    max-width: 662px;
  }
}


.lists-flexbox ul {
  padding-left: 16px;
  margin: 0;
}

.lists-flexbox ul li {
  margin-bottom: 8px;
}





.image_L {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 12px;
}

.image_S {
  background-color: #0f0f0f;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 16px;
}

.image_S img {
  max-height: 100%;
  max-width: auto;
}

.image_L img {
  max-height: 100%;
  max-width: auto;
}

.image-title {
  display: flex;
  align-items: center;
  margin: 8px 0 16px 0;
}

.image-title h3 {
  line-height: 1.25;
}


.lists-flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
}

.lists-flexbox .image-title {
  margin-top: 16px !important;
}


.list-2columns {
  width: 312px;
  margin-bottom: 32px;
}

.list-3columns {
  width: calc(33.3% - 11px);
  min-width: 155px;
  margin-bottom: 32px;
}





