html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.home_touch-target:hover .homelogo {
  fill: #01CBA2;
}

.navigation li:nth-child(1) h3 {
  color: #01CBA2;
  font-weight: 700;
}

.hamburger-drawer li:nth-child(1) h3 {
  color: #01CBA2;
}

.navigation h3 {
  color: #0f0f0f;
}

.navigation h3:hover {
  color: #01CBA2;
}  

.navigation .body1 {
color: #0f0f0f;
}

.navbar svg {
  fill: #0f0f0f;
}

.linkedin_touch-target:hover svg {
  fill: #01CBA2;
}


body {
  padding: 0;
  margin: 0;
}

.projectcontent {
  position: absolute;
  top: 32%;
  width: 100%;
}

.projectinfo {
  position: relative;
  top: 32%;
  width: 614px;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .projectinfo {
    width: 100%;
    padding: 0 24px 0 24px;
    max-width: 662px;
  }
}

.images {
  position: relative;
  padding: 0 24px 0 24px;
  margin: 144px 0 48px 0;
  width: 100%;
  box-sizing: border-box;
}


.infobutton {
  position: absolute;
  bottom: 2.9%;
  right: 1.4%;
  z-index: 3;
  transform-origin: bottom right;
}

.infobutton {
  box-shadow:inset 0px 0px 0px 3px #000000 !important;
}

.infobutton:hover {
  pointer: cursor;
}


.infobutton:hover .infobutton {
  box-shadow:inset 0px 0px 0px 3px #808080 !important;
}

.infobutton:hover .body1 {
  color: #808080 !important;
}


@media (min-width: 768px) and (max-width: 991px) {
  .infobutton {
    transform: scale(0.64);
}
    
  .infodrawer {
    width: calc(480px * 0.64) !important;
}
  
  .behind-infodrawer {
    width: calc(100% - (480px * 0.64)) !important;
  }
  
  .infodrawer > .body2 {
    font-size: calc(16px * 0.64);
    line-height: calc(28px * 0.64);
    letter-spacing: calc(1px * 0.64)
}
}

@media (min-width: 576px) and (max-width: 767px) {
  .infobutton {
    transform: scale(0.4);
}
  
  .infodrawer {
    width: calc(480px * 0.4) !important;
  }
    
  .behind-infodrawer {
    width: calc(100% - (480px * 0.4)) !important;
}
  
   .infodrawer > p {
    font-size: calc(16px * 0.4);
    line-height: calc(28px * 0.4);
    letter-spacing: calc(1px * 0.4)
}  
}

@media (max-width: 575px) {
  .infobutton {
    transform: scale(0.27);
}
      
  .infodrawer {
    width: calc(480px * 0.27) !important;
}
  
  .behind-infodrawer {
    width: calc(100% - (480px * 0.27)) !important;
  }
  
   .infodrawer > .body2 {
    font-size: calc(16px * 0.27);
    line-height: calc(28px * 0.27);
    letter-spacing: calc(1px * 0.27)
}  
}


.infodrawer-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.infodrawer {
  right: 0;
  top: 0;
  width: 480px;
  height: 100%;
  background-color: #ffffff;
  z-index: 10;
  position: absolute;
  box-shadow: 4px 0 10px rgb(0, 0, 0, 0.2);
}


.infodrawer > .body2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  right: 5%;
  text-align: left;
  color: #0f0f0f;
  width: 90%;
  transform-origin: top left;
}

.infodrawer > .infobutton {
  right: 5% !important;
}

.behind-infodrawer {
  width: calc(100% - 480px);
  height: 100%;
  right: 0;
  top: 0;
  position: absolute;
}  
  

.imagecontainer img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.imagecontainer {
  margin-top: 64px;
  position: relative;
  overflow: visible;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.2);
}

@media (max-width: 767px) {
  .imagecontainer {
    margin-top: 32px;
  }
}

.imagezoomed {
  background-position: 50% 50%;
  position: relative;
  cursor: zoom-in;
  background-position: center;
  background-repeat: no-repeat;
}

.imagezoomed img:hover {
  opacity: 0;
}

.prototype-native {
  position: absolute;
  left: 11%;
  top: 10.4%;
  width: 18.8%;
  height: 75%;
  z-index: 10;
  
}

.prototype-web {
  position: absolute;
  left: 36.4%;
  top: 10.4%;
  width: 52.6%;
  height: 75%;
  z-index: 10;
}

.project-buttons {
    display: flex;
    position: relative;
}

@media (min-width: 576px) {
  .project-buttons {
    justify-content: center;
    flex-direction: row;
    margin: 160px 0 80px 0;
    column-gap: 16px;
  }
}

@media (max-width: 575px) {
  .project-buttons {
    flex-direction: column;
    row-gap: 12px;
    box-sizing: border-box;
    width: 100%;
    padding: 64px 24px 24px 24px;
  }

  .project-buttons .button_large {
    width: 100%;
  }
}


