html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.home_touch-target:hover .homelogo {
  fill: #01F4C2;
}

.navigation li:nth-child(1) h3 {
  color: #01F4C2;
  font-weight: 700;
}


.hamburger-drawer li:nth-child(1) h3 {
  color: #01CBA2;
}

.navigation h3 {
  color: #ffffff;
}

.navigation h3:hover {
  color: #01F4C2;
}

.navigation .body1 {
  color: #FFFFFF;
}

.linkedin_touch-target:hover svg {
  fill: #01F4C2;
}

.workcontent {
  position: absolute;
  left: 0;
  top: 32%;
  width: 100%;
  height: auto;
}  

