html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.navigation li:nth-child(1) h3 {
  color: #ed1843;
}


.hamburger-drawer li:nth-child(1) h3 {
  color: #ed1843;
}

.navigation h3 {
  color: #ffffff;
}

.navigation .body1 {
color: #ffffff;
}


.project-picker-container {
  position: absolute;
  left: 0;
  top: 24%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 128px;
  z-index: 2;
}

