html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


.home_touch-target:hover .homelogo {
  fill: #01F4C2;
}

.navigation li:nth-child(1) h3 {
  color: #01F4C2;
  font-weight: 700;
}


.hamburger-drawer li:nth-child(1) h3 {
  color: #01CBA2;
}

.navigation h3 {
  color: #ffffff;
}

.navigation h3:hover {
  color: #01F4C2;
}

.navigation .body1 {
  color: #FFFFFF;
}

.linkedin_touch-target:hover svg {
  fill: #01F4C2;
}

.workcontent {
  position: absolute;
  left: 0;
  top: 32%;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}  

@media (min-width: 1920px) {
  .workcontent {
    width: 1760px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1440px) and (max-width: 1919px) {
  .workcontent {
    padding: 0 80px 256px 80px;
  }
}

@media (min-width: 992px) and (max-width: 1439px) {
  .workcontent {
    padding: 0 48px 256px 48px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .workcontent {
    padding: 0 32px 128px 32px;
  }
}


@media (max-width: 575px) {
  .workcontent {
    padding: 0 40px 128px 40px;
  }
}




