html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/** Text styles */

.body1 {
  font-family: europa, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.75;
  margin: 0;
}

.body2 {
  font-family: europa, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.75;
  margin: 0;
}

.body3 {
  font-family: europa, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.75;
  margin: 0;
}



h1 {
  font-family: europa, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 0.88;
  letter-spacing: 1.5px;
  margin: 0;
}

h2 {
  font-family: europa, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h3 {
  font-family: europa, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h4 {
  font-family: europa, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h5 {
  font-family: europa, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h6 {
  font-family: europa, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h7 {
  font-family: europa, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h8 {
  font-family: europa, sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h9 {
  font-family: europa, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}

h10 {
  font-family: europa, sans-serif;
  font-size: 160px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0.88;
  margin: 0;
}




@media (max-width: 575px) {
  h9 {
    font-size: 56px;
    word-break: break-word;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h9 {
    font-size: 96px;
    word-break: break-word;
  }
}


@media (min-width: 1920px) {
  h9 {
    font-size: 144px;
  }
}

@media (max-width: 575px) {
  h10 {
    font-size: 80px;
    word-break: break-word;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  h10 {
    font-size: 120px;
    word-break: break-word;
  }
}

@media (min-width: 1920px) {
  h10 {
    font-size: 200px;
  }
}



.overline-title {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  color: #ffffff;
  line-height: 1;
  margin: 0 0 8px 0;
}


/** Text weight */

.text_extra-bold {
  font-weight: 800;
}

.text_heavy {
  font-weight: 900;
}

.text_bold {
  font-weight: 700;
}

.text_regular {
  font-weight: 400;
}

.text_light {
  font-weight: 300;
}


/** Text colors */

.text_black {
  color: #0f0f0f;
}

.text_white {
  color: #ffffff;
}

.text_red {
  color: #ed1843;
}


/** Text sizes */

.text_12px {
  font-size: 12px;
}

.text_14px {
  font-size: 14px;
}

.text_16px {
  font-size: 16px;
}

.text_18px {
  font-size: 18px;
}

.text_20px {
  font-size: 20px;
}

.text_22px {
  font-size: 22px;
}

.text_24px {
  font-size: 24px;
}

.text_40px {
  font-size: 40px;
}

.text_48px {
  font-size: 48px;
}

.text_64px {
  font-size: 48px;
}

.text_80px {
  font-size: 80px;
}

/** Text underline */

.text_underline {
  text-decoration: underline;
}


/** Text components */

.info-section {
  position: relative;
  margin-top: 56px;
}


/** Spacings */

.vertical-spacing_16px {
  height: 16px;
}

.vertical-spacing_24px {
  height: 24px;
}

.vertical-spacing_32px {
  height: 32px;
}

.vertical-spacing_48px {
  height: 48px;
}

.vertical-spacing_56px {
  height: 56px;
}

.vertical-spacing_64px {
  height: 64px;
}

.vertical-spacing_80px {
  height: 80px;
}

.vertical-spacing_96px {
  height: 96px;
}

.vertical-spacing_112px {
  height: 112px;
}

@media (max-width: 479px) {
  .vertical-spacing_56px {
    height: 16px;
  }

  .vertical-spacing_112px {
    height: 80px;
  } 
}



/** Fill colors */
.white {
  fill: #ffffff;
}

.red {
  fill: #ed1843;
}

.black {
  fill: #0f0f0f;
}


/** Background colors */

.background-dark {
  background-image: radial-gradient(120% 60% at 50% 50%, #000000, #333333);
  background-attachment: fixed;
}

.lightbackground {
  background-color: #F5F5F5;
}

/** Shadows*/

.shadow_light {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.08);
}

